@import "globals/ahp-styles.scss";

.SelectPlant {
  height: 100vh;
  width: 100vw;
  
  .select-plant-card {
    width: 400px;
    height: 600px;
    border-radius: 15px;
    transition: all ease-in-out .2s;
    z-index: 2;

    .plant-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-direction: column;
    }
  }

  .select-plant-card:hover {
    transform: scale(1.05);
  }
}

.select-particles-container {
  canvas {
    position: fixed;
    z-index: 0;
  }

  .select-particles {
    height: 100%;
    width: 100%;
  }
}