@import "globals/ahp-styles.scss";

.Card {
  background-color: $white;
  display: flex;
  color: $darkGray;
  border-radius: 15px;

  & > div {
    flex: 1 1;
    margin: $smallSpacing;
    display: flex;
    flex-direction: column;

    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      svg {
        margin-bottom: 17px;
        margin-right: $tinySpacing;
        font-size: 1.4em;
      }
    }

    .card-content {
      flex: 1 1;
      display: flex;
    }

    h3 {
      margin-top: 0;
      font-weight: 400;
    }
  }
}

.card-darkmode {
  background-color: #333333; 
  color: $white;
}
