@import "globals/ahp-styles.scss";

.settings-button:hover {
  color: $lightGray !important;
}

.no-sketch-plant {
  height: 400px;
  width: 200px;
}

.half-circle {
  z-index: -100;
  width: 260px;
  height: 130px;
  border: 3px solid $fontColor;
  border-top: 0;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-collapse: separate;
  transform: translateY(-80px);
}

.half-circle-darkmode {
  border-top: 0 !important;
  border: 3px solid $white;
}

.plant-info-icons {
  display: flex;
  flex-direction: row;
  
  & > div {
    width: 24px;
  }
}